apiVersion: v1
kind: Service
metadata:
  name: weather-service
  namespace: weather
  labels:
    app: weather-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: weather-service
